@import url('https://fonts.googleapis.com/css2?family=Noto+Sans&family=Roboto&family=Rock+Salt&display=swap');

:root { 
    --primary-color: rgb(FFAFCC)
    --secondary-color: rgb(FFFFFF)
    --headline-color-on-color: rgb(FFFFFF)
}
nav {
  background-color: rgb(#ffafcc); 
}

h1 {color: rgb(255, 255, 255); 
  text-align: center;
}

p {
  color: white;
  text-align: center;
  margin: 40 auto;
}
div.container {
  text-align: center;
}
ul.myUL {
  display: inline-block;
  text-align: left;
}
p2 {
  color: black;
  text-align: center;
  margin: 40 auto;
}
ul {list-style-position: inside;
}

h2 {color: white; 
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 10%;
}
h1:hover { 
  background-color: rgb(white);
  color: black;
  }
  
img {
  width: 10%;
  display: block;
  margin: 0 auto;
  }

  
  
