h1 {
  color: white;
  text-align: center;
}

body {
  background-color: #FFAFCC;
}

h1:hover {
  color: black;
}

main p {
  color: white;
  text-align: center;
  margin: 10px auto;
  width: 30%;
}

div.container {
  text-align: center;
  font-weight: bold;
}

ol.myOL {
  display: inline-block;
  text-align: left;
}

.ul {
  list-style-position: inside;

}

.p2 {
  color: black;
  text-align: center;
  margin: 10px auto;
  width: 20%;
 }

h2 {
  color: white;
  text-align: center;
  margin: 10px auto;
  width: 20%;
}

img {
  width: 10%;
  display: block;
  margin: 0 auto;
}