body {
  background-color: var(#FFAFCC); 
}

h1 {color: var(white); 
  text-align: center;
}

p {
  color: white;
  text-align: center;
  margin: auto;
}
div.container {
  text-align: center;
}
ul.myUL {
  display: inline-block;
  text-align: left;
}
p2 {
  color: black;
  text-align: center;
  margin: auto;
}
ul {list-style-position: inside;
}

h2 {color: white; 
  text-align: center;
  margin: 10px auto;
  display: block;
  width: 10%;
}
h1:hover { 
  background-color: var(white);
  color: black;
  }
  
img {
  width: 10%;
  display: block;
  margin: 0 auto;
  }

  
  
