:root { 
    --primary-color: rgb(#ffafcc)
    --secondary-color: rgb(white)

    --headline-color-on-color: rgb(white)
}
nav {
    background-color: rgb(#ffafcc); 
    padding: 10px;}
h1 {color: rgb(white);
      }
p {color: rgb(white)
    }
h1 {
    text-align: center;
  }
footer p {
    font-size: 20px;
    margin: 20px auto;
    text-align: center;
  }
a:hover {
    background-color: rgb(white);
    color: black;
  }
  img {
    width: 20%;
    display: block;
    margin: 0 auto;
  }
   