@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&Noto+Sans&family=Roboto&family=Rock+Salt&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Brush Script";
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://twmanningiii.github.io/wdd130/wwr/yakuzasite/images/savLight.jpg");
}
.wrapper{
    width: 450px;
    background: white;
}