@import url('https://fonts.googleapis.com/css2?family=Nanum+Brush+Script&Noto+Sans&family=Roboto&family=Rock+Salt&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nanum Brush Script";
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
        
    
}
.wrapper{
    width: 450px;
    background-size: 450px;
    background-position: center;
    background-image: url('https://twmanningiii.github.io/wdd130/wwr/yakuzasite/images/savLight2.jpg');
    border-radius: 10px;
    }
.wrapper header{
    display: flex;
    align-items: center;
    padding: 25px 30px 10px;
    justify-content: space-between;
}
header .current-date{
font-size: 1.45rem;
font-weight: 500;

}
header .icons span{
    height: 38px;
    width: 38px;
    color: #3b523d;
    font-size: 1.9rem;
    margin: 0 1px;
    cursor: pointer;
    text-align: center;
    line-height: 38px;
    border-radius: 50%;
    background: rgb(155, 194, 151);

}
header .icons span:hover{
    background: rgb(182, 176, 176);
}
header .icons span:last-child{
    margin-right: -10;

}
.calander{
    padding: 20px;
}
.calander .days{
    margin-bottom: 20px;
} 
.calander .weeks li{
    font-weight: 500;
}

.calander ul{
    display: flex;
    list-style: none;
    flex-wrap: wrap;
    text-align: center;
}
.calander ul li{
    position: relative;
    width: calc(100% / 7);
}
.calander .days li{
    z-index: 1;
    cursor: pointer;
    margin-top: 30px;    
}
.days li.inactive{
    color: #aaa;
}
.days li.active{
    color: #390000;
}
.calander .days li::before{
    position: absolute;
    content: "";
    height: 40px;
    width: 40px;
    top: 50%;
    left: 50%;
    z-index: -1;
    border-radius: 50%;
    transform: translate(-50%, -50%);
    
}
.days li:hover::before{
 background-image: url('https://twmanningiii.github.io/wdd130/wwr/yakuzasite/images/savLight2.jpg');
}
.days li .active::before{
    background: #390000;

}
