
  nav {
    background-color: steelblue;
    padding: 25px;
  }
  body {
    margin: 0
}
  a {
    color: white;
    margin: 40px;
    padding: 25px;
  }
  h1 {
    color: steelblue;
    margin: 50px 0;
  }
  img {
    width: 80%;
    display: block;
    margin: 0 auto;
    border: 4px solid steelblue;
  }
  
    footer {
    background-color: steelblue;
    color: white;
  }
  .main-para {
    font-size: 1.5em;
    line-height: 1.5em;
  }
  #active {
    background-color: white;
    color: steelblue;
}
p {
  width: 80%;
  margin: 50px auto;
  text-align: center;
  padding: 10px;
}
h1 {
  text-align: center;
}
nav, footer {
  text-align: center;
}
footer p {
  font-size: 20px;
  margin: 20px auto;
  padding: 25px;
}
a:hover {
  background-color: white;
  color: steelblue;
}